{% extends "layout.html" %}

{% block scripts %}
  <!-- TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
{% endblock %}

{% block content %}
  <div id="app-map" class="map" tabindex="0"></div>

  <div id="app-gui"></div>

  <script type="module">
    //import {template} from "/js/vue/game-gui.vue.js";
    //$("#app-gui").innerHTML = template;
  </script>
  <script type="module">
    import {init_app} from '/js/main.js';
    //import {gui} from '/js/vue/gui.js';
    //window.gui = gui;

    // start app
    init_app({{ debug|tojson }}, '', {{ get_user().toView()|tojson }}, '');
  </script>
{% endblock %}
